<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!-- Primary connection string with SQL Authentication -->
        <add name="DefaultConnection" 
             connectionString="Server=NEM\SQLEXPRESS;Database=FertilityTreatmentDB;User Id=sa;Password=12345;TrustServerCertificate=True;" 
             providerName="Microsoft.Data.SqlClient" />
        
        <!-- Alternative connection string with Windows Authentication -->
        <add name="WindowsAuth" 
             connectionString="Server=NEM\SQLEXPRESS;Database=FertilityTreatmentDB;Integrated Security=true;TrustServerCertificate=True;" 
             providerName="Microsoft.Data.SqlClient" />
        
        <!-- Local SQL Server Express -->
        <add name="LocalDB" 
             connectionString="Server=(localdb)\MSSQLLocalDB;Database=FertilityTreatmentDB;Integrated Security=true;TrustServerCertificate=True;" 
             providerName="Microsoft.Data.SqlClient" />
        
        <!-- Testing database -->
        <add name="TestConnection" 
             connectionString="Server=NEM\SQLEXPRESS;Database=FertilityTreatmentDB_Test;User Id=sa;Password=12345;TrustServerCertificate=True;" 
             providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    
    <appSettings>
        <add key="ApplicationName" value="DNA Fertility Treatment Management" />
        <add key="Version" value="1.0.0" />
        <add key="Environment" value="Development" />
        <add key="DatabaseTimeout" value="30" />
        <add key="DefaultConnectionName" value="DefaultConnection" />
    </appSettings>
</configuration>
